{
    "debrid_service": "torbox",
    "addon_config": {
        "torrentio": {
            "debrid_service": "",
            "debrid_api_key": ""
        },
        "comet": {
            "base_url": "https://comet.elfhosted.com",
            "debrid_service": "",
            "debrid_api_key": ""
        },
        "debridio": {
            "debrid_service": "easydebrid",
            "debrid_api_key": ""
        },
        "peerflix": {
            "debrid_service": "",
            "debrid_api_key": ""
        }
    },
    "addon_url": "https://debridproxy.your-domain.com",
    "mediaflow_url": "http://debridproxy_mediaflow:8888",
    "external_mediaflow_url": "https://mediaflow.your-domain.com",
    "mediaflow_enabled": true,
    "cache_ttl_seconds": 604800,
    "buffer_size_mb": 256,
    "chunk_size_mb": 4
}
